@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: code;
    src: url('../assets/fonts/SourceCodePro-VariableFont_wght.ttf');
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}

main {
    @apply text-black bg-gray-dark min-h-screen;
    /* TODO: Mettre à jour cette partie une fois la police choisie définitivement */
    font-family: "Chakra Petch", serif;
    /* font-family: "Poppins", serif; */
    /* font-family: "Open Sans", serif; */
    font-weight: 400;
    font-style: normal;
}

.font-family-code {
    font-family: code;
}

.vibrate {
    animation: vibrate 0.3s ease-in-out;
}

.circle {
    @apply w-32 h-32 rounded-full shadow-xl;
}
.square {
    @apply w-32 h-32 rounded-sm shadow-xl;
}
.rectangle {
    @apply w-40 h-24 rounded-sm shadow-xl;
}
.parent {
    @apply flex items-center justify-center;
}
.child {
    @apply w-1/2 h-1/2;
}
.parent.child {
    @apply w-2/3 h-2/3;
}

.highlight {
    @apply bg-gray px-1;
}

h1 {
    @apply text-5xl font-extrabold;
}
h2, h3, h4, h5, h6 {
    @apply font-bold;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-3xl;
}
h4 {
    @apply text-2xl;
}
h5 {
    @apply text-xl;
}
h6 {
    @apply text-lg;
}

.warning {
    @apply text-red font-bold;
}

#shapes {
    @apply bg-gray rounded-md flex justify-around items-center px-8 py-4 shadow-xl gap-8 flex-wrap;
}
