@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: code;
    src: url('../assets/fonts/SourceCodePro-VariableFont_wght.ttf');
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}

.font-family-code {
    font-family: code;
}

.vibrate {
    animation: vibrate 0.3s ease-in-out;
}

.circle {
    @apply w-32 h-32 rounded-full shadow-xl;
}

.highlight {
    @apply bg-gray px-1;
}

h1 {
    @apply text-5xl font-extrabold;
}
h2, h3, h4, h5, h6 {
    @apply font-bold;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-3xl;
}
h4 {
    @apply text-2xl;
}
h5 {
    @apply text-xl;
}
h6 {
    @apply text-lg;
}